<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test_board.mappers.board">

	<select id="list" resultType="com.board.domain.BoardVO">
		select
			no, id, name, goal, date, time
		from i_can_do_it
	</select>
	
	
	<insert id="create">
		insert into i_can_do_it (id,name,goal,date,time)
		values (#{id}, #{name}, #{goal}, NOW(), NOW())
	</insert>
	
	<select id="detail" resultType="com.board.domain.BoardVO">
		select
			no, id, name, goal, date, time
		from i_can_do_it where no = #{no}
	</select>
	
	<update id="update">
		update i_can_do_it
		set name=#{name}, goal=#{goal}, id=#{id}, time=NOW(), date=NOW()
		where no=#{no}
	</update>
	
	<delete id="delete">
		delete from i_can_do_it
		where no=#{no}
	</delete>

</mapper>